@import "bootstrap";

body {
	background-color: #F5F5F1;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	height:100%;
	width:100%;
}

.navbar-brand {
	font-size: 1.4em !important;
	font-family: Verdana, serif;
}

.jumbotron {
	background: rgba(255, 255, 255, 0) !important;
	color: black !important;
}

.jumbotron h3 {
	color: #e20d0d !important;
}

.col-xs-3:nth-child(4n+1) {
	clear: left;
}

.caption {
	h4 {
		font-size: 15px;
		margin: 2px;
	}
	p {
		font-size: 12px;
		margin: 0px;
	}
}

#footer {
	color: #e20d0d;
}